.Bienvenue{
  padding-top:7%;
}
.menu-category .submenu li {
  list-style: none;
}
.menu-category .submenu li a {
  padding: 10px 16px;
  display: block;
}
.menu-category li:hover {
  background: #f8f9fa;
  transition: all 0.3s;
}
.menu-category li:hover .submenu {
  display: block;
  margin-left: 0px;
}
.menu-category .has-submenu > a:after {
  content: "›";
  font-size: 24px;
  color: #999;
  line-height: 18px;
  font-weight: bold;
  float: right;
}

.form-inline input[type=number] {
  max-width: 100px;
}

.input-spinner {
  width: 125px;
  flex-wrap: nowrap;
  display: inline-flex;
  vertical-align: middle;
}
.input-spinner input.form-control {
  text-align: center;
  max-width: 46px;
  font-weight: bold;
  flex-basis: 46px;
  border-color: #e4e4e4;
  flex-grow: 0;
}
.input-spinner .btn {
  width: 42px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.checkbox-btn {
  position: relative;
}
.checkbox-btn input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-btn input:checked ~ .btn {
  border-color: #3167eb;
  background-color: #3167eb;
  color: #fff;
}
.table-shopping-cart.table td, .table-shopping-cart.table th {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.table-shopping-cart .price-wrap {
  line-height: 1.2;
}
.table-shopping-cart .price {
  font-weight: bold;
  margin-right: 5px;
  display: block;
}
